<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <%= name %> 
    </h1>
    <!--在ejs中寫js，沒加=的表示單純的js程式碼，有加的則表示是要拿到值-->
    <Section>
        <% for (let i = 0; i < 10 ; i++){ %> 
            <p> <%= i %> </p>
        <%  } %> 
    </Section>
</body>
</html>